.page-footer {
  background-color: #292929;
  padding-top: 39px;
}

.page-footer__wrapper {
  border: 0.2px solid rgba(110, 110, 110, 0.5);
}

.contacts {
  width: 203px;
  margin: 0 auto;
  padding-top: 39px;
  text-align: center;
}

.contacts .contacts__title {
  width: 279px;
  font-size: 19px;
  line-height: 27px;
  font-weight: 700;
}

.contacts .contacts__text {
  color: #d4d4d4;
}

.contacts .contacts__phone-wrapper {
  border: 0.2px solid rgba(110, 110, 110, 0.5);
  width: 260px;
  height: 35px;
  padding: 13px 15px 10px;
  margin-bottom: 26px;
  -webkit-transform: translate(-45px);
      -ms-transform: translate(-45px);
          transform: translate(-45px);
}

.contacts .contacts__phone-wrapper .contacts__phone {
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.contacts .contacts__phone-wrapper .contacts__phone-mobile {
  display: none;
}

.social__title {
  display: none;
}

.social__list {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-41px);
      -ms-transform: translate(-41px);
          transform: translate(-41px);
  margin-bottom: 35px;
}

.social__list li {
  border: 0.2px solid rgba(110, 110, 110, 0.5);
  padding: 32px;
}

.social__list li:last-child,
.social__list li:first-child {
  border-right: none;
}

.page-footer__copyright {
  text-align: center;
  width: 295px;
  margin: 0 auto;
}

.copyright__text {
  font-size: 21px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}

.copyright__link {
  border: 0.2px solid rgba(110, 110, 110, 0.5);
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}