.works {
  position: relative;
  padding-bottom: 14px;
}

.works::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -34px;
  z-index: 10;
  width: 100%;
  height: 34px;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(50%, #f8f5f2)), -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(50%, #f8f5f2));
  background-image: -o-linear-gradient(bottom left, transparent 50%, #f8f5f2 50%), -o-linear-gradient(bottom right, transparent 50%, #f8f5f2 50%);
  background-image: linear-gradient(to top right, transparent 50%, #f8f5f2 50%), linear-gradient(to top left, transparent 50%, #f8f5f2 50%);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
  background-size: 50.1% 100%;
}

@media (min-width: 768px) {
  .works {
    padding: 0 64px;
    padding-bottom: 27px;
  }
}

@media (min-width: 1200px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 47px;
  }

  .works::after {
    display: none;
  }
}